@model DynamicSite.Models.MenuModel

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        @{
            foreach (var entry in Model.MenuEntries)
            {
                <li>@Html.ActionLink(entry.PageId, "SimplePage", "Home", new { PageId = entry.PageId }, null)</li>
            }
        }
    </ul>
</div>