*.suo
*.user
*.sln.docstates
.nuget/*
packages/*
DynamicSiteWebInterface/bin/*
DynamicSiteWebInterface/obj/*
DynamicSiteWebInterface/fonts/*
DynamicSiteServer/bin/*
DynamicSiteServer/obj/*
DynamicSiteServerTests/bin/*
DynamicSiteServerTests/obj/*